<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="/bootstrap.min.css"/>
		<style>
			body{ 
				background:rgb(0, 149, 84);
				color:#fff;
				font-size:16px;
			}
			#username{
				width:80%;
			}
		</style>
	</head>
	<body>
		<div class ="container" >
			<h1 class="col-md-6 col-md-offset-5 col-lg-6 col-lg-offset-5">在线聊天室</h1>
			
			<form class="form-inline col-md-offset-3 col-md-6" action="/check",method="get">
				<br><br><br>
				<div>
				<span><b>请输入你的用户名</b></span>
				<input type="text" class="form-control" id="username" name="username">
				
				<button type="submit" id="tijiao" class="btn btn-default">进入聊天室</button>
				</div>
			</form>
		</div>
		
	</body>
</html>	